<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocalizacion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <app-geolocation type="button" (finish)="location($event)"></app-geolocation>
  </ion-item>
  
  <ion-item>
    <ion-label>{{locate}}</ion-label>
  </ion-item>
</ion-content>
